footer{
    color: black;
    background-color: rgb(220, 220, 220);
    padding: 5rem 0;
}
footer > div{
    text-align: center;
}
footer h4{
    margin-bottom: 0.5rem;
}
footer .personal{
    display: inline-block;
    border-bottom: 0.05rem solid black;
    padding: 1rem;
    padding-top: 0;
}
footer .social{
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}
footer ul {
    display: flex;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: black;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(200, 200, 200);
}
footer a:hover {
    background-color: rgb(185, 185, 185);
}